#autat-peoplepos {
	
}
#autat-sponsor {
	WIDTH: 200px
}
#bossHeader {
	LEFT: 15px; WIDTH: 98px; POSITION: absolute; TOP: 20px; HEIGHT: 36px
}
#bekkHeader {
	LEFT: 810px; WIDTH: 110px; POSITION: absolute; TOP: 20px; HEIGHT: 28px
}
#autat-page-container {
	
	PADDING-RIGHT: 5px; FONT-SIZE: 1.1em! important; WIDTH: 100%;
	height: 430px;
}

#autat-page-container #centerWhite{	
	height: 430px;
	background-color: #FFFFFF;
}


#autat-bottom-margin {
	MARGIN-BOTTOM: 50px
}


BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.7em; BACKGROUND: url(picture.jpg) #ffffff no-repeat right bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #1f354d; PADDING-TOP: 0px; FONT-FAMILY: Arial, serif
}
DIV {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
SPAN {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
P {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
TR {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H1 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H2 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H3 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H4 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
A {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
P {
	TEXT-ALIGN: justify
}
H1 {
	FONT-SIZE: 150%; COLOR: #1f354d; LETTER-SPACING: 5px
}
H2 {
	FONT-SIZE: 130%; COLOR: #1f354d; LETTER-SPACING: 3px
}
H3 {
	FONT-SIZE: 110%; COLOR: #1f354d; FONT-STYLE: italic; LETTER-SPACING: 1px
}
UL {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
LI {
	MARGIN-TOP: 5px; MARGIN-LEFT: 20px
}
A:link {
	FONT-WEIGHT: bold; COLOR: #ff5a00; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; COLOR: #ff5a00; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff5a00; TEXT-DECORATION: underline
}
A:active {
	COLOR: #ff5a00; TEXT-DECORATION: underline
}
.wrap1 {
	DISPLAY: block;
	
}
.wrap2 {
	DISPLAY: block;
	
}
.wrap3 {
	DISPLAY: block;
	
}
.wrap1 {
	BACKGROUND: url(images/shadow.gif) no-repeat right bottom; FLOAT: left
}
.wrap2 {
	BACKGROUND: url(images/corner_bl.gif) no-repeat left bottom
}
.wrap3 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 0px; BACKGROUND: url(images/corner_tr.gif) no-repeat right top; PADDING-BOTTOM: 8px; PADDING-TOP: 0px
}
.wrap3 IMG {
	BORDER-RIGHT: #555555 1px solid; BORDER-TOP: #555555 1px solid; DISPLAY: block; BORDER-LEFT: #555555 1px solid; BORDER-BOTTOM: #555555 1px solid
}

#frontpage {
	FLOAT: left; WIDTH: 800px
}
#generalpos {
	LEFT: 36px; POSITION: absolute; TOP: 36px
}
#generalstyle {
	
	BORDER-RIGHT: #555555 1px solid; BORDER-TOP: #555555 1px solid; BORDER-LEFT: #555555 1px solid; WIDTH: 685px; BORDER-BOTTOM: #555555 1px solid; BACKGROUND-COLOR: #f2f5f7
}
#top5blogpos {
	LEFT: 236px; POSITION: absolute; TOP: 269px
}
#blogrollpos {
	LEFT: 236px; POSITION: absolute; TOP: 475px
}
#blogrollstyle {
	BORDER-RIGHT: #555555 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #555555 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #555555 1px solid; WIDTH: 675px; PADDING-TOP: 5px; BORDER-BOTTOM: #555555 1px solid; BACKGROUND-COLOR: #f2f5f7
}
#blogrollstyle H2 {
	MARGIN-TOP: 10px; MARGIN-LEFT: 5px
}
#blogentry {
	BORDER-RIGHT: #555555 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #555555 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 10px 5px 5px; BORDER-LEFT: #555555 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #555555 1px solid; BACKGROUND-COLOR: #ffffff
}
#bekk {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 5px; PADDING-TOP: 5px
}
#boss {
	
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 5px; PADDING-TOP: 5px
}
#website {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 5px; PADDING-TOP: 5px
}
#projectspos {
	LEFT: 10px; POSITION: absolute; TOP: 65px
}
#projectsstyle {
	BORDER-RIGHT: #555555 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #555555 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #555555 1px solid; WIDTH: 200px; PADDING-TOP: 5px; BORDER-BOTTOM: #555555 1px solid; BACKGROUND-COLOR: #f2f5f7
}
#projectsstyle H2 {
	MARGIN-TOP: 10px; MARGIN-LEFT: 5px
}
#bossprojects {
	BORDER-RIGHT: #555555 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #555555 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 10px 5px 5px; BORDER-LEFT: #555555 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #555555 1px solid; BACKGROUND-COLOR: #ffffff
}
#bosscontribs {
	BORDER-RIGHT: #555555 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #555555 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 10px 5px 5px; BORDER-LEFT: #555555 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #555555 1px solid; BACKGROUND-COLOR: #ffffff
}
#peoplepos {
	LEFT: 10px; POSITION: absolute; TOP: 494px
}
#peoplestyle {
	BORDER-RIGHT: #555555 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #555555 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #555555 1px solid; WIDTH: 190px; PADDING-TOP: 10px; BORDER-BOTTOM: #555555 1px solid; BACKGROUND-COLOR: #f2f5f7
}
#firefox {
	LEFT: 25px; POSITION: absolute; TOP: 960px
}
#extraDiv1 {
	BACKGROUND: url(images/boss_logo.gif) no-repeat; LEFT: 15px; WIDTH: 98px; POSITION: absolute; TOP: 20px; HEIGHT: 36px
}
#extraDiv2 {
	BACKGROUND: url(images/bekk_logo.gif) no-repeat; LEFT: 810px; WIDTH: 110px; POSITION: absolute; TOP: 20px; HEIGHT: 28px
}
#palette {
	DISPLAY: none; LEFT: 10px; POSITION: absolute; TOP: 525px
}
#palette1 {
	BORDER-RIGHT: #555555 1px solid; BORDER-TOP: #555555 1px solid; FLOAT: left; BORDER-LEFT: #555555 1px solid; WIDTH: 90px; MARGIN-RIGHT: 10px; BORDER-BOTTOM: #555555 1px solid; HEIGHT: 30px; BACKGROUND-COLOR: #f2f5f7
}
#palette2 {
	BORDER-RIGHT: #555555 1px solid; BORDER-TOP: #555555 1px solid; FLOAT: left; BORDER-LEFT: #555555 1px solid; WIDTH: 90px; MARGIN-RIGHT: 10px; BORDER-BOTTOM: #555555 1px solid; HEIGHT: 30px; BACKGROUND-COLOR: #e5e3db
}
#palette3 {
	BORDER-RIGHT: #555555 1px solid; BORDER-TOP: #555555 1px solid; FLOAT: left; BORDER-LEFT: #555555 1px solid; WIDTH: 90px; MARGIN-RIGHT: 10px; BORDER-BOTTOM: #555555 1px solid; HEIGHT: 30px; BACKGROUND-COLOR: #7d7977
}
#palette4 {
	BORDER-RIGHT: #555555 1px solid; BORDER-TOP: #555555 1px solid; FLOAT: left; BORDER-LEFT: #555555 1px solid; WIDTH: 90px; MARGIN-RIGHT: 10px; BORDER-BOTTOM: #555555 1px solid; HEIGHT: 30px; BACKGROUND-COLOR: #686868
}
#palette5 {
	BORDER-RIGHT: #555555 1px solid; BORDER-TOP: #555555 1px solid; FLOAT: left; BORDER-LEFT: #555555 1px solid; WIDTH: 90px; MARGIN-RIGHT: 10px; BORDER-BOTTOM: #555555 1px solid; HEIGHT: 30px; BACKGROUND-COLOR: #555555
}
#palette6 {
	BORDER-RIGHT: #555555 1px solid; BORDER-TOP: #555555 1px solid; FLOAT: left; BORDER-LEFT: #555555 1px solid; WIDTH: 90px; MARGIN-RIGHT: 10px; BORDER-BOTTOM: #555555 1px solid; HEIGHT: 30px; BACKGROUND-COLOR: #d5e1e9
}
#palette7 {
	BORDER-RIGHT: #555555 1px solid; BORDER-TOP: #555555 1px solid; FLOAT: left; BORDER-LEFT: #555555 1px solid; WIDTH: 90px; MARGIN-RIGHT: 10px; BORDER-BOTTOM: #555555 1px solid; HEIGHT: 30px; BACKGROUND-COLOR: #a2b7c5
}
#palette8 {
	BORDER-RIGHT: #555555 1px solid; BORDER-TOP: #555555 1px solid; FLOAT: left; BORDER-LEFT: #555555 1px solid; WIDTH: 90px; MARGIN-RIGHT: 10px; BORDER-BOTTOM: #555555 1px solid; HEIGHT: 30px; BACKGROUND-COLOR: #1f354d
}
#palette9 {
	BORDER-RIGHT: #555555 1px solid; BORDER-TOP: #555555 1px solid; FLOAT: left; BORDER-LEFT: #555555 1px solid; WIDTH: 90px; MARGIN-RIGHT: 0px; BORDER-BOTTOM: #555555 1px solid; HEIGHT: 30px; BACKGROUND-COLOR: #ff5a00
}
