<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<!--
   <extension
         point="org.cubictest.exporters"
         name="CubicTestWatirExporter">
      <CustomStepExtension
            section="org.cubictest.exporters.watir.ui.WatirCustomStepSection">
      </CustomStepExtension>
   </extension>
-->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="cubictest.contribution1"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               label="CubicTest"
               path="additions"
               id="cubictest.menu1">
            <separator
                  name="CubicTest">
            </separator>
         </menu>
         <action
               enablesFor="1"
               label="Export to Watir test script"
               icon="icons/watir_export_icon.gif"
               class="org.cubictest.exporters.watir.ui.ExportToWatirAction"
               menubarPath="cubictest.menu1/group1"
               id="org.cubictest.exporters.watir.ui.ExportToWatirAction">
         </action>
      </objectContribution>
      
      <viewerContribution
            id="CubicTestWatirExporter.viewerContribution1"
            targetID="cubicTestPlugin.editor.contextmenu">
         <action
               class="org.cubictest.exporters.watir.ui.ExportToWatirEditorAction"
               icon="icons/watir_export_icon.gif"
               id="org.cubictest.exporters.watir.ui.ExportToWatirEditorAction"
               label="Export to Watir test script"
               menubarPath="additions"/>
      </viewerContribution>

      <objectContribution
           id="CubicTestWatirExporter.objectContribution1"
		   objectClass="org.cubictest.ui.gef.controller.TestEditPart">
         <action
               class="org.cubictest.exporters.watir.ui.RunWatirRunnerAction"
               icon="icons/watir_run_icon.gif"
               id="org.cubictest.exporters.watir.ui.RunWatirRunnerAction"
               label="Run Test with Watir Runner"
               menubarPath="additions"/>
      </objectContribution>
      <objectContribution
           id="CubicTestWatirExporter.objectContribution2"
		   objectClass="org.cubictest.ui.gef.controller.AbstractStartPointEditPart">
         <action
               class="org.cubictest.exporters.watir.ui.RunWatirRunnerAction"
               icon="icons/watir_run_icon.gif"
               id="org.cubictest.exporters.watir.ui.RunWatirRunnerAction"
               label="Run Test with Watir Runner"
               menubarPath="additions"/>
      </objectContribution>
      
      <objectContribution
           id="CubicTestWatirExporter.objectContribution3"
		   objectClass="org.cubictest.ui.gef.controller.PageEditPart">
         <action
               class="org.cubictest.exporters.watir.ui.RunWatirRunnerAction"
               icon="icons/watir_run_icon.gif"
               id="org.cubictest.exporters.watir.ui.RunWatirRunnerAction"
               label="Run with Watir to selected Page/State"
               menubarPath="additions"/>
      </objectContribution>
      <objectContribution
           id="CubicTestWatirExporter.objectContribution4"
		   objectClass="org.cubictest.ui.gef.controller.PageElementEditPart">
         <action
               class="org.cubictest.exporters.watir.ui.RunWatirRunnerAction"
               icon="icons/watir_run_icon.gif"
               id="org.cubictest.exporters.watir.ui.RunWatirRunnerAction"
               label="Run with Watir to selected Page/State"
               menubarPath="additions"/>
      </objectContribution>
      
      
   </extension>
</plugin>
