<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.cubictest.exporters.selenium"
         name="CubicTestSeleniumExporter"
         point="org.cubictest.exporters">
      <CustomStepExtension
            section="org.cubictest.exporters.selenium.ui.SeleniumCustomStepSection"
            buildpathSupporter="org.cubictest.exporters.selenium.SeleniumBuildPathSupporter">
      </CustomStepExtension>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
 	  <page id="CubicTestSeleniumExporterPreferencePage"
  	      	name="Selenium Exporter"
	      	class="org.cubictest.exporters.selenium.ui.preferences.SeleniumExporterPreferencePage"
		    category="CubicTestPreferencePage">
   	  </page>
   </extension>
     
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="cubictest.contribution1"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               label="CubicTest"
               path="additions"
               id="cubictest.menu1">
            <separator
                  name="CubicTest">
            </separator>
         </menu>
         <action
               enablesFor="1"
               label="Export to Selenium Core test script"
               icon="icons/selenium_export_icon.gif"
               class="org.cubictest.exporters.selenium.ui.ExportToSeleniumAction"
               menubarPath="cubictest.menu1/group1"
               id="org.cubictest.exporters.selenium.ui.ExportToSeleniumAction">
         </action>
      </objectContribution>

      <objectContribution
            id="CubicTestSeleniumExporter.objectContribution1"
		    objectClass="org.cubictest.ui.gef.controller.TestEditPart">
         <action
               class="org.cubictest.exporters.selenium.ui.RunSeleniumRunnerAction"
               icon="icons/selenium_run_icon.gif"
               id="org.cubictest.exporters.selenium.ui.RunSeleniumRunnerAction"
               label="Run Test with Selenium Runner"
               menubarPath="additions"/>
      </objectContribution>
      <objectContribution
            id="CubicTestSeleniumExporter.objectContribution2"
		    objectClass="org.cubictest.ui.gef.controller.AbstractStartPointEditPart">
         <action
               class="org.cubictest.exporters.selenium.ui.RunSeleniumRunnerAction"
               icon="icons/selenium_run_icon.gif"
               id="org.cubictest.exporters.selenium.ui.RunSeleniumRunnerAction"
               label="Run Test with Selenium Runner"
               menubarPath="additions"/>
      </objectContribution>

      <objectContribution
            id="CubicTestSeleniumExporter.objectContribution3"
		    objectClass="org.cubictest.ui.gef.controller.PageEditPart">
         <action
               class="org.cubictest.exporters.selenium.ui.RunSeleniumRunnerAction"
               icon="icons/selenium_run_icon.gif"
               id="org.cubictest.exporters.selenium.ui.RunSeleniumRunnerAction"
               label="Run with Selenium to selected Page/State"
               menubarPath="additions"/>
      </objectContribution>
      <objectContribution
            id="CubicTestSeleniumExporter.objectContribution4"
		    objectClass="org.cubictest.ui.gef.controller.PageElementEditPart">
         <action
               class="org.cubictest.exporters.selenium.ui.RunSeleniumRunnerAction"
               icon="icons/selenium_run_icon.gif"
               id="org.cubictest.exporters.selenium.ui.RunSeleniumRunnerAction"
               label="Run with Selenium to selected Page/State"
               menubarPath="additions"/>
      </objectContribution>
      
      <viewerContribution
            id="CubicTestSeleniumExporter.viewerContribution1"
            targetID="cubicTestPlugin.editor.contextmenu">
         <action
               class="org.cubictest.exporters.selenium.ui.ExportToSeleniumEditorAction"
               icon="icons/selenium_export_icon.gif"
               id="org.cubictest.exporters.selenium.ui.ExportToSeleniumEditorAction"
               label="Export to Selenium Core test script"
               menubarPath="additions"/>
      </viewerContribution>

   </extension>
   
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.cubictest.exporters.selenium.launch.RunnerLaunchConfigurationDelegate"
            delegateDescription="SeleniumRunner - Runs the CubicTest tests with Selenium"
            delegateName="SeleniumRunner"
            id="org.cubictest.exporters.selenium.ui.launchConfigurationType"
            migrationDelegate="org.cubictest.exporters.selenium.launch.LaunchConfigurationMigrationDelegate"
            modes="run, debug"
            name="CubicTest Selenium Runner"
            public="true">
         <fileExtension
               default="true"
               extension=".aat">
         </fileExtension>
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.cubictest.exporters.selenium.launch.RunnerLaunchConfigurationTabGroup"
            description="SeleniumRunner spesific tabs"
            id="org.cubictest.exporters.selenium.ui.launchConfigurationTabGroup"
            type="org.cubictest.exporters.selenium.ui.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.cubictest.exporters.selenium.ui.launchConfigurationType"
            icon="icons/selenium_run_icon.gif"
            id="org.cubictest.exporters.selenium.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.cubictest.exporters.selenium.runner.SeleniumClasspathContainerInitializer"
            id="CUBICTEST_SELENIUM">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathVariableInitializer">
      <classpathVariableInitializer
            class="org.cubictest.exporters.selenium.runner.SeleniumClasspathVariableInitializer"
            readOnly="true"
            variable="CUBICTEST_SELENIUM">
      </classpathVariableInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="org.cubictest.exporters.selenium.runner.SeleniumCubicTestClasspathContainerPage"
            id="org.cubictest.exporters.selenium.runner.classpathContainerPage"
            name="CubicTest Selenium">
      </classpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.cubictest.exporters.selenium.launch.SeleniumRunnerLaunchShortcut"
            icon="icons/selenium_run_icon.gif"
            id="org.cubictest.exporters.selenium.ui.launchShortcut"
            label="SeleniumRunner"
            modes="run, debug">
         <contextualLaunch>
            <contextLabel
                  label="Run Test with Selenium (Custom Test Steps)"
                  mode="run">
            </contextLabel>
            <contextLabel
                  label="Debug Test with Selenium (Custom Test Steps)"
                  mode="debug">
            </contextLabel>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
               	  <iterate>
               	  	<or>
               	  		<and>
		                     <instanceof value="org.eclipse.core.resources.IFile"/>
		                     <or>
		                     	<test
		                           value="*.aat"
		                           property="org.eclipse.debug.ui.matchesPattern"/>
		                     	<test
		                           value="*.ats"
		                           property="org.eclipse.debug.ui.matchesPattern"/>
		                     </or>
               	  		</and>
                    <adapt
                          type="org.eclipse.core.resources.IFile">
	                      <or>
	                          <test
		                           value="*.aat"
		                           property="org.eclipse.debug.ui.matchesPattern"/>
	                     	  <test
	                               value="*.ats"
	                               property="org.eclipse.debug.ui.matchesPattern"/>
	                      </or>
                    </adapt>
               	  	</or>
		          </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="org.cubictest.exporters.selenium.ui.launchConfigurationType">
         </configurationType>
      </shortcut>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Run Test with Selenium"
            description="Run the Test with Selenium"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.cubictest.exporters.selenium.ui.launchShortcut.run">
      </command>
      <command
            name="Debug Test with Selenium"
            description="Debug the Test with Selenium"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.cubictest.exporters.selenium.ui.launchShortcut.debug">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            sequence="M3+M2+D S"
            commandId="org.cubictest.exporters.selenium.ui.launchShortcut.debug"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M3+M2+X S"
            commandId="org.cubictest.exporters.selenium.ui.launchShortcut.run"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>
</plugin>
