<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.preferencePages">
 	  <page id="CubicTestRecorderPreferencePage"
  	      	name="Recorder"
	      	class="org.cubictest.recorder.ui.preferences.RecorderPreferencePage"
		    category="CubicTestPreferencePage">
   	  </page>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.cubictest.recorder.launch.SeleniumRecorderLaunchShortcut"
            icon="icons/record.gif"
            id="org.cubictest.recorder.launchShortcut"
            label="SeleniumRecorder"
            modes="run, debug">
         <contextualLaunch>
            <contextLabel
                  label="Record Test with Selenium"
                  mode="run">
            </contextLabel>
            <contextLabel
                  label="Record/Debug Test with Selenium"
                  mode="debug">
            </contextLabel>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
               	  <iterate>
               	  	<or>
               	  		<and>
		                     <instanceof value="org.eclipse.core.resources.IFile"/>
		                     <or>
		                     	<test
		                           value="*.aat"
		                           property="org.eclipse.debug.ui.matchesPattern"/>
		                     	<test
		                           value="*.ats"
		                           property="org.eclipse.debug.ui.matchesPattern"/>
		                     </or>
               	  		</and>
                    <adapt
                          type="org.eclipse.core.resources.IFile">
	                      <or>
	                          <test
		                           value="*.aat"
		                           property="org.eclipse.debug.ui.matchesPattern"/>
	                     	  <test
	                               value="*.ats"
	                               property="org.eclipse.debug.ui.matchesPattern"/>
	                      </or>
                    </adapt>
               	  	</or>
		          </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="org.cubictest.recorder.ui.launchConfigurationType">
         </configurationType>
      </shortcut>
   </extension>
   
   
      <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.cubictest.exporters.selenium.launch.RunnerLaunchConfigurationDelegate"
            delegateDescription="SeleniumRecorder - Records CubicTest test with Selenium"
            delegateName="SeleniumRecorder"
            id="org.cubictest.recorder.ui.launchConfigurationType"
            migrationDelegate="org.cubictest.exporters.selenium.launch.LaunchConfigurationMigrationDelegate"
            modes="run, debug"
            name="CubicTest Selenium Recorder"
            public="true">
         <fileExtension
               default="true"
               extension=".aat">
         </fileExtension>
      </launchConfigurationType>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.cubictest.recorder.launch.RecorderLaunchConfigurationTabGroup"
            description="Recorder spesific tabs"
            id="org.cubictest.recorder.ui.launchConfigurationTabGroup"
            type="org.cubictest.recorder.ui.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.cubictest.recorder.ui.launchConfigurationType"
            icon="icons/record.gif"
            id="org.cubictest.recorder.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   
   
</plugin>
