<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution 
	       id="CubicRecorder.objectContribution1"
		   objectClass="org.cubictest.ui.gef.controller.TestEditPart">
         <action
               class="org.cubictest.recorder.ui.RecordEditorAction"
               id="CubicRecorder.record"
               label="Record"
               menubarPath="additions"
               state="false"
               icon="icons/record.gif"
               style="toggle"
               tooltip="Record test in a web browser"/>
      </objectContribution>
      <objectContribution 
	       id="CubicRecorder.objectContribution2"
		   objectClass="org.cubictest.ui.gef.controller.PageEditPart">
         <action
               class="org.cubictest.recorder.ui.RecordEditorAction"
               id="CubicRecorder.recordFromSelectedPage"
               label="Record from this Page/State"
               menubarPath="additions"
               state="false"
               icon="icons/record.gif"
               style="toggle"
               tooltip="Record test in a web browser"/>
      </objectContribution>
   </extension>

</plugin>
